.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(../multimedia/imagenes/hero-f-oscuro.png);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.text-box{
    width: 50%;
    position: absolute;
    top: 40%;
    text-align: left;
    padding: 0 0 0 10%;
    h1{
        font-size: 2rem;
        padding: 10px; 
    }
    p{
        font-size: 1.3rem;
        margin: 10px 0 30px;
    }
}

.fa-solid{
    display: none;
}
