
$naranja-btn: #FF4647;
$naranja-text: #ED564F;
$naranja-bg: #ED564F;
$oscuro: #151E29;
$claro: #FFFFFF ;
$primary: #FF4647 !important;
$grisoscuro: #3A424D;
$grisclaro: #EBEAEF;
$lila: #8972FA;
$fuente-primaria: 'Quicksand', sans-serif;