.headervistas{
    min-height: 50vh;
    width: 100%;
    background-color: var(--oscuro);
    position: relative;
    overflow: hidden;
    h1{
        text-align: center;
        font-size: 2.5rem;
        position: relative;
        top:100px;
    }
}


.sobrenosotros{
    color: var(--oscuro);
    width: 100%;
    h2{
        font-size: 1.5rem;
        margin: 10%;
    }
}
.sobrenosotros-grid{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10%;
    img{
        width: 500px;
        border-radius: 10px;
    }
    p{
        padding-bottom: 10px;
        padding-right: 10px;
    }
}
